﻿<%@ Page Language="C#" CodeBehind="Data.aspx.cs" AutoEventWireup="true" EnableEventValidation="false" Inherits="fernichercafe.Data" MasterPageFile="~/Site.Master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="GlobalHeaderContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MiddleCenterContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content6" ContentPlaceHolderID="GlobalFooterContent" Runat="Server">
</asp:Content>
