﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="DataWeb.aspx.cs" EnableEventValidation="false"  Inherits="fernichercafeWebsite.Data"  MasterPageFile="~/Website.Master"  %>

<asp:Content ID="Content1" ContentPlaceHolderID="GlobalHeaderContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MiddleCenterContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content6" ContentPlaceHolderID="GlobalFooterContent" Runat="Server">
</asp:Content>
