﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Login.aspx.cs" Inherits="fernichercafe.Login" %>

<!DOCTYPE html>

<html class="loading" lang="en" data-textdirection="ltr">
 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
   
   
    <title>Fernicher Cafe </title>
   
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- BEGIN: VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="plugins/vendors/vendors.min.css">
    <!-- END: VENDOR CSS-->
    <!-- BEGIN: Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="plugins/css/themes/vertical-modern-menu-template/materialize.css">
    <link rel="stylesheet" type="text/css" href="plugins/css/themes/vertical-modern-menu-template/style.css">
    <link rel="stylesheet" type="text/css" href="plugins/css/pages/login.css">
    <!-- END: Page Level CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="plugins/css/custom/custom.css">
    <!-- END: Custom CSS-->
    <style>
        #lblLoginError{
            color:red;
        }
    </style>
  </head>
  <!-- END: Head-->
  <body class="vertical-layout vertical-menu-collapsible page-header-dark vertical-modern-menu 1-column login-bg  blank-page blank-page" data-open="click" data-menu="vertical-modern-menu" data-col="1-column">
    <div class="row">
      <div class="col s12">
        <div class="container"><div id="login-page" class="row">
  <div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 login-card bg-opacity-8">
    <form class="login-form" runat="server">
      <div class="row">
        <div class="input-field col s12">
          <h5 class="ml-4">Sign in</h5>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="material-icons prefix pt-2">person_outline</i>
          <input id="Email" runat="server" type="text">
          <label for="Email" class="center-align">Username</label>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="material-icons prefix pt-2">lock_outline</i>
          <input id="password" runat="server" type="password">
          <label for="password">Password</label>
        </div>
      </div>
     
      <div class="row">
        <div class="input-field col s12">
             <asp:Button ID="btnsubmit" runat="server" class="btn waves-effect waves-light border-round gradient-45deg-purple-deep-orange col s12" Text="Login" OnClick="btnsubmit_Click" />
        </div>
          <div class="col-md-12">             <asp:Label ID="lblLoginError" runat="server" CssClass="danger" Visible="false"></asp:Label>          </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m12 l12">
          <%--<p class="margin right-align medium-small"><a href="ForgotPassword.aspx" style="font-size: 20px">Forgot password ?</a></p>--%>
        </div>
      </div>
    </form>
  </div>
</div>
        </div>
      </div>
    </div>

    <!-- BEGIN VENDOR JS-->
    <script src="plugins/js/vendors.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN THEME  JS-->
    <script src="plugins/js/plugins.js" type="text/javascript"></script>
    <script src="plugins/js/custom/custom-script.js" type="text/javascript"></script>
    <!-- END THEME  JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <!-- END PAGE LEVEL JS-->
  </body>


</html>